.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Bower ###
node_modules
.tmp
.sass-cache
bower_components

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
notes.txt

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/
src/main/resources/static/bower_components/
