#google-map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

paper-input-place {
    position: absolute;
    top: 35px;
    left: 10px;
    z-index: 1;
}
