#google-map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#google-city-search-box {
    position: absolute;
    top: 0;
    left: 125px;
    min-width: 250px;
    z-index: 1;
}

#data-source-dropdown {
    position: absolute;
    top: 0;
    left: 400px;
    max-width: 175px;
    z-index: 1;
}

#categories-dropdown {
    position: absolute;
    top: 0;
    left: 600px;
    max-width: 250px;
    z-index: 1;
}

#grid-slider {
    position: absolute;
    top: 14px;
    left: 875px;
    z-index: 1;
}

#test-button {
    position: absolute;
    font-family: sans-serif;
    top: 15px;
    left: 1100px;
    z-index: 1;
}
